python-telegram-bot==20.0
openai
flask
python-dotenv
telegram
pyjwt
requests
supabase==1.0.3
gotrue==1.0.2
postgrest==0.10.6
realtime==1.0.2
Pillow
pytesseract
soundfile
librosa
asyncio
Flask
google-generativeai>=0.8.5
